.wrapper {
  display: grid;
  grid-template-columns: 482px 1fr;
  gap: 37px;
}

.leftBlock {
  display: grid;
  grid-template-rows: 650px 1fr;
  gap: 20px;
}

.poster {
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inner {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 35px;
}

.rating {
  display: flex;
  flex-direction: column;
  min-width: 155px;
  gap: 5px;
  font-weight: 500;
  font-size: 18px;
  color: var(--raiting-color);
  margin-top: 15px;
}

.rating span {
  font-weight: 700;
  font-size: 20px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  margin-bottom: 34px;
}
