.button {
  display: flex;
  gap: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #7a7a7a;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.5;
}
