@font-face {
  font-family: 'Acrom';
  src: url('./fonts/AcromRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('./fonts/AcromMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acrom';
  src: url('./fonts/AcromBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-main: 'Acrom', sans-serif;
  --placeholder-color: rgba(21, 21, 21, 0.28);
  --main-background-color: #080423;
  --text-link-hover-color: #ff3d81;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html, body {
  height: 100%;
}

.wrapper {
  background: var(--main-background-color);
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
