.pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.pageNumber,
.arrow {
  font-size: 18px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.pageNumber:disabled {
  pointer-events: none;
  color: var(--accent-color);
}

.pageNumber {
  padding: 8px;
}

.listNumbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.arrow:hover,
.pageNumber:hover {
  color: var(--accent-color);
}