.list {
  display: grid;
  grid-auto-rows: minmax(573px, 1fr);
  gap: 50px;
  padding-top: 72px;
}

.pagination {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.pageNumber,
.arrow {
  font-size: 18px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.pageNumber:disabled {
  cursor: default;
}

.pageNumber {
  padding: 8px;
}

.listNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover,
.pageNumber:hover {
  color: var(--accent-color);
}