.search {
  position: relative;
  display: flex;
}

.input {
  width: 400px;
  height: 40px;
  border-radius: 60px;
  border: none;
  padding: 20px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--placeholder-color);
}

.icon {
  position: absolute;
  right: 20px;
  top: 11px;
}